p { 
	font-family: Questrial;
    color: rgb(12, 49, 64);
    font-size: 22px;
    text-transform: uppercase;
	letter-spacing: 2px;
	margin: 100 30px;
	padding: 45px 0 0 0;
	height: 140px
	text
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
	font-weight:bold;
	

	
}

body {
    background-image: url("permaculture_opaque.jpg");
    background-color: #cccccc;
    
}

p{
	background-color: lightblue;
	width: 500px;
	height:1000px;
}